#burger{
    position: relative;
    cursor: pointer;
    z-index: 150;
    margin-left: auto;
    margin-right: 0;
    width: 40px;
	
    @include media-for (null, $sm){
        margin-bottom: .3rem;
    }
    
    span{
        display: block;
        height: 3px;
        width: 40px;
        background-color: $black;  
        position: relative;
        transition: .2s all ease-in;
        margin-bottom: 9px;
        
        &:last-child{
            margin-bottom: 0px;
        }
    } 
}

.burger-active{

    span:first-child{
        transform: rotate(45deg);
        top: 7px;
    }

    span:nth-child(2n){
        opacity: 0;
        transition: .2s all ease-in;
    }

    span:last-child{
        transform: rotate(-45deg);
        top: -17px;
    }
}