.btns-top{
    position: fixed;
    width: 100%;
    left: 0;
    //background: $bg-body;
    z-index: 50;
    transition: all .4s ease-in-out;
    padding-bottom: 10px;
	
    button{
			font-family: $userfont;
			font-weight: 400;
			font-size: 30px;
			letter-spacing: .6px;
			
			position: relative;
			display: block;
			color: $black;
			text-transform: uppercase;
        @include media-for (null, $sm){
            padding: 0;
        }
	}
    
}

// .btn-category-active{
//     z-index: 150;
// }