.titles-blogs{
    font-family: helvetica, sans-serif ;

    .titles-blogs-wrap{
        transition: all .4s ease-in-out;
        height: 80vh;
        overflow-y: scroll;
        background-size: 65%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        @include media-for (null, $tablet){
            background-image: none !important;
        }
        &::-webkit-scrollbar {
            width: 0;
        }
        &:hover{
            .title-wrap{
                color: $border;
            }
        }
        
        .titles-blogs-item{
            position: relative;
            padding: 2rem 0;
            border-bottom: 1px solid $border;
            transition: all .4s ease-in-out;
            border-top: 1px solid  rgba($color: #0000, $alpha: .0);
            cursor: pointer;

            @include media-for (null, $tablet){
                padding: .5rem 0;
                display: flex;
                justify-content: space-between;
            }
            
            &:first-child{
                border-top: 1px solid $border;
            }
    
            &:hover{
                .title-wrap{
                    color: $balck;
                }
            }
            a{
                &:hover{
                    transform: scale(1);
                } 
            }

            .title-wrap{
                position: relative;
                max-width: 59%;
                display: inline-block;

                @include media-for (null, $sm){
                    max-width: 64%;
                }

                h3{
                    font-size: 82px;
                    font-weight: 400;
                    display: inline-block;

                    @include media-for (null, $tablet){
                        font-size: 25px;
                    }
                }
        
                time{
                    font-weight: 300;
                    font-size: 15px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(100%,-50%);

                    @include media-for (null, $tablet){
                        position: relative;
                        top: 0;
                    }
                }
            }

            .img-wrap{
                display: none;
                @include media-for (null, $tablet){
                    display: block;
                    width: 40%;
                }
                @include media-for (null, $sm){
                    width: 36%;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }
    }

}