.titles-blogs{
    font-family: helvetica, sans-serif ;
    
	button{
        font-family: $userfont;
		position: relative;
		display: block;
		border-radius: 100%;
		font-size: 20px;
		color: $black;
	}

	.btn-category-active{
		z-index: 150;
	}
    .titles-blogs-wrap{
        transition: all .4s ease-in-out;
        height: 80vh;
        overflow-y: scroll;
        @include media-for (null, $tablet){
            background-image: none !important;
        }
        &::-webkit-scrollbar {
            width: 0;
        }
        &:hover{
            
            .titles-blogs-item{

                .title-wrap{
                    color: $balck;
                    time{
                        color: $border;
                    }
                }
              
                a{
                    color: $border;
                    &:hover{
                        color: $border;
                    } 
                }
            }
        }
        
        .titles-blogs-item{
            margin: 1rem 0;
            transition: all .4s ease-in-out;
            cursor: pointer;

            @include media-for (null, $tablet){
                padding: .5rem 0;
                display: flex;
                justify-content: space-between;
            }
    
            &:hover{

                .title-wrap{
                    color: $balck;
                    time{
                        color: $black;
                    }
                    a{
                        color: $black;
                    }
                }

            }

            a{
                color: $black;
                &:hover{
                    transform: scale(1);
                } 
            }

            .title-wrap{
                position: relative;
                max-width: 59%;
                display: inline-block;
                z-index: 20;
                @include media-for (null, $sm){
                    max-width: 64%;
                }

                h3{
                    font-size: 82px;
                    font-weight: 400;
                    display: inline-block;

                    @include media-for (null, $tablet){
                        font-size: 25px;
                    }
                }
        
                time{
                    position: absolute;
                    font-weight: 300;
                    font-size: 15px;
                    right: 0;
                    top: 50%;
                    transform: translate(100%,-50%);

                    @include media-for (null, $tablet){
                        position: relative;
                        top: 0;
                    }
                }
            }

            .img-wrap{
                position: absolute;
                width: 1066px;
                height: 555px;
                left: 22%;
                top: 17%;
                z-index: 10;
                opacity: 0;
                @include media-for (null, $mid-desktop){
                    width: 766px;
                }

                @include media-for (null, $tablet){
                    position: relative;
                    display: block;
                    width: 40%;
                    opacity: 1;
                    height: auto;
                    left: 0;
                }
                @include media-for (null, $sm){
                    width: 36%;
                }
                img{
                    width: 100%;
                    object-fit: cover;
                    @include media-for (null, $sm){
                        height: 100%;
                    }
                }
            }

        }
    }

}