header{
	position: relative;
	padding: 0;
	z-index: 60;
	@include media-for (null, $sm){
		padding: 1rem 0;
	}
	.logo{
		svg{
			width: 401px;
			height: 88px;
			@include media-for (null, $tablet){
				width: 205px;
				height: 57px;
			}
		}
	}
}
